body {
  margin: 0;
  background: radial-gradient(#1f1f1f, #090909);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  background: linear-gradient(0deg, #7c7c7c 0%, #ab9f18 100%);
  padding: 4em;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 3em;
  box-shadow: 0px 0px 20px #000;
}

.piano::before,
.piano::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.piano::before {
  height: 6.5em;
  top: 0;
  background: linear-gradient(
    0deg,
    rgba(77, 72, 6, 0.976) 0%,
    #030d67 47%,
    #000000 100%
  );
  filter: blur(4px);
}

.key {
  width: 3.5em;
  height: 20em;
  border-radius: 2em;
  position: relative;
  background: linear-gradient(
    90deg,
    #6d6d6d 0%,
    #6d6d6d 40%,
    #484848 40%,
    #484848 50%,
    #484848 60%,
    #323131 60%,
    #040f74 100%
  );
  cursor: pointer;
}

.key::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  border-radius: 0 0 2em 2em;
}

.key:nth-child(5) {
  margin-right: 0.8em;
}

.top {
  height: 12em;
  width: 3em;
  margin: 0 -1em 0 -1em;
  z-index: 1;
  position: relative;
}

.top::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 12em;
  background: #0fcbed;
}

.key-active {
  background: linear-gradient(
    90deg,
    #343434 0%,
    #343434 40%,
    #484848 40%,
    #484848 50%,
    #484848 60%,
    #6d6d6d 60%,
    #ea0e0e 100%
  );
}
